// Fonts
$font-primary: 'Inter', Arial, Helvetica, sans-serif;
$font-secondary: 'Suisse Intl', 'Inter', Arial, Helvetica, sans-serif;

// Color Scheme
$accent-color: #3DDC84;
$primary-color: #FFF;
$secondary-color: #8B8B8B;
$cta-color: #4285F4;
$error-color: #EE3465;
$line-color: #424242;
$black-color: #000;
$caption-color: #A0A0A0;

// Background
$background-color-black: #202020;
$background-color-gray: #272727;
$tabs-background-color: #303030;
$icon-background-color: #313131;
$hero-background-color: #073042;
$movie-background-color: #222;

// Strokes
$stroke-color-light: #DADADA;
$stroke-color-dark: #424242;
$stroke-color-3: #E5E5E5;
$stroke-color-4: #E6E6E6;
$divider-color: #505050;

// Sections Width
$min-width: 320px;
$max-width: 1140px;

// Logo
$logo-size: 38px;
