@use '../../styles/design-scheme';

.page {
  // Font Smoothing
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // Text Size Adjust
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  // Kerning and Ligatures Rendering
  text-rendering: optimizeLegibility;

  // Font
  font-family: design-scheme.$font-stack;

  // Color
  background-color: design-scheme.$background-color-black;
  color: design-scheme.$primary-color;

  // Size
  min-width: design-scheme.$min-width;

  // Reset Default Styles
  margin: 0 auto;

  // Root Flex Container
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

// Common

.section {
  display: flex;
  align-items: center;
  width: 100%;
}

.section__container {
  display: flex;
  flex-flow: column nowrap;

  margin: 0 auto;
  box-sizing: border-box;

  min-width: design-scheme.$min-width - 28px;

  // Normal size
  width: calc(100vw - 28px);
  max-width: calc(768px - (50px * 2));
}

.section__container_wide {
  // Wide size
  width: calc(100vw - 20px);
  max-width: calc(768px - (30px * 2));
}

.main {
  flex: 1;
}

.button {
  border-radius: 3px;
  border: 0;
}

.button_color_accent {
  background-color: design-scheme.$accent-color;
}

.button_color_cta {
  background-color: design-scheme.$cta-color;
}

.burger {
  display: none;
}

.burger_open {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
    height: 44px;
    width: 44px;
    background: url('../../images/burger-icon-min.svg') no-repeat center;
  }

  .burger_open {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .burger {
    height: 43px;
    width: 40px;
  }
}

@media screen and (min-width: 768px) {
  .section__container {
    // Normal size
    width: calc(100vw - (50px * 2));
    max-width: calc(1280px - (70px * 2));
  }

  .section__container_wide {
    // Wide size
    width: calc(100vw - (30px * 2));
  }
}


