@use '../../styles/design-scheme';

.page {
  // Font Smoothing
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // Text Size Adjust
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  // Kerning and Ligatures Rendering
  text-rendering: optimizeLegibility;

  // Font
  font-family: design-scheme.$font-stack;

  // Color
  background-color: design-scheme.$background-color-black;
  color: design-scheme.$primary-color;

  // Size
  min-width: design-scheme.$min-width;

  // Reset Default Styles
  margin: 0 auto;

  // Root Flex Container
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

// Common

.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.section__container {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
}

.header {

}

.main {
  flex: 1;
}
