@use '../../styles/design-scheme';

.page {
  // Font Smoothing
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // Text Size Adjust
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  // Kerning and Ligatures Rendering
  text-rendering: optimizeLegibility;

  // Font
  font-family: design-scheme.$font-primary;

  // Color
  background-color: design-scheme.$background-color-black;
  color: design-scheme.$primary-color;

  // Size
  min-width: design-scheme.$min-width;

  // Reset Default Styles
  margin: 0 auto;

  // Root Flex Container
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

// Common

.section {
  display: flex;
  align-items: center;
  width: 100%;
}

// Normal size section
.section__container {
  display: flex;
  flex-flow: column nowrap;

  margin: 0 auto;
  box-sizing: border-box;

  min-width: design-scheme.$min-width - 28px;


  width: calc(100vw - 28px);
  max-width: calc(768px - (50px * 2));
}

// Wide section
.section__container_wide {
  width: calc(100vw - 20px);
  max-width: calc(768px - (30px * 2));
}

.section__heading {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  margin-top: 70px;
  width: 100%;
  text-align: left;
}

.section__heading_underlined {
  padding-bottom: 28px;
}

.section__heading_underline-color_light {
  border-bottom: 1px solid design-scheme.$stroke-color-light;
}

.section__heading_underline-color_adaptive-black-and-white {
  border-bottom: 1px solid design-scheme.$black-color;
}

.main {
  flex: 1;
  width: 100%;
}

.button {
  border-radius: 3px; /* todo в отдельный класс */
  border: 0;
}

.button_color_accent {
  background-color: design-scheme.$accent-color;
}

.button_color_cta {
  background-color: design-scheme.$cta-color;
}

.link {
  transition: opacity .3s;
}

.link:hover {
  opacity: .7;
}

@media screen and (min-width: 768px) {
  .section__container {
    // Normal size
    width: calc(100vw - (50px * 2));
    max-width: calc(1280px - (70px * 2));
  }

  .section__container_wide {
    // Wide size
    width: calc(100vw - (30px * 2));
  }

  .section__heading {
    font-size: 22px;
    line-height: 27px;
    margin-top: 90px;
  }

  .section__heading_underlined {
    padding-bottom: 23px;
  }

  .section__heading_underline-color_adaptive-black-and-white {
    border-bottom: 1px solid design-scheme.$stroke-color-light;
  }
}

@media screen and (min-width: 1024px) {
  .section__heading {
    margin-top: 110px;
  }
}
