@use '../../../styles/design-scheme';

.navtab {
  background-color: design-scheme.$background-color-gray;
}

.navtab__menu-list {
  display: flex;
  flex-flow: row nowrap;

  list-style: none;
  padding: 0;
  margin: 24px auto;
}

.navtab__menu-list-item {
  padding: 0;
  margin-left: 24px;
  font-size: 11px;
  line-height: 16px;
}

.navtab__menu-list-item:first-child {
  margin-left: 0;
}

.navtab__menu-link {
  color: design-scheme.$primary-color;
  text-underline-position: under;
}

@media screen and (min-width: 768px) {
  .navtab__menu-list {
    margin: 24px auto;
  }

  .navtab__menu-list-item {
    margin-left: 40px;
    font-size: 13px;
  }
}
