@use '../../../styles/design-scheme';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
  transition: all .3s ease;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.popup_open {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: design-scheme.$background-color-black;
}

.popup__button-close {
  margin: 20px 20px 0 0;
  border: none;
  outline: none;
  background: url(../../../images/button-close-min.svg);
  width: 32px;
  height: 32px;
  background-size: contain;
  cursor: pointer;
  display: flex;
  align-self: flex-end;
  transition: opacity .3s linear;
}

.popup__button-close:hover {
  opacity: .6;
}

@media screen and (min-width: 425px) {
  .popup__button-close {
    margin: 29px 29px 0 0;
  }
}

@media screen and (min-width: 520px) {
  .popup {

  }

  .popup__container {
    max-width: 520px;
  }
}
